<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title><%=title%></title>
</head>
<body>
    <div class="container">
    <div class="message"> <%=message%></div>
    <div class="form">
    <form action="/" method="post">
        <span>Sign Up</span>
        <label for="rusername">Username: </label>
        <input type="text" id="rusername" name="rusername">
        <label for="rpassword">Password: </label>
        <input type="password" id="rpassword" name="rpassword">
        <label for="rconfirm">Confirm Password: </label>
        <input type="password" id="rconfirm" name="rconfirm">
        <button type="submit">Sign Up</button>
    </form>
    </div>
    </div>
</body>
</html>