<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title><%=title%></title>
</head>
<body>
    <span>Sign Up</span>
    <form action="/" method="post">
        <label for="rusername">Username: </label><br>
        <input type="text" id="rusername" name="rusername"><br>
        <label for="rpassword">Password: </label><br>
        <input type="password" id="rpassword" name="rpassword"><br>
        <label for="rconfirm">Confirm Password: </label><br>
        <input type="password" id="rconfirm" name="rconfirm"><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>